<!-- ======= Header ======= -->
<header id="header" class="d-flex bg-light-subtle">
  <div class="container d-inline head">
    <!-- .navbar -->
    <nav class="navbar navbar-nav navbar-expand-lg nav bg-light-subtle" role="navigation">
      <div class="container-fluid head">
        <div class="align-items-center head">
          <a class="navbar-brand" routerLink=""><img src="assets/img/icons8-customer-48.png" alt="logo" class="img-fluid img-thumbnail intro"/></a>
        </div>
        <a class="navbar-brand brandname" routerLink="">Customer Manager </a>
        <button class="navbar-toggler mobile-nav-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="activate" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="register" routerLinkActive="activate">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="login" routerLinkActive="activate">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="admin" routerLinkActive="activate">Admin</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- .navbar -->
  </div>
</header>
<!-- #header -->

<router-outlet></router-outlet>
